@{
    ViewData["Title"] = "About";
}
<h1>About Us</h1>
<p>This library management system project was done as Patika+ Bootcamp project.</p>

<img src="~/photos/patrick-tomasso-library.jpg" width="1280" height="720" />


